:root {
	--primary-color: #b80000;
	--secondary-color: white;
	--bg-color: rgb(246, 246, 246);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.AD_BOX {
	display: flex;
	justify-content: center;
	align-self: center;
}
body,
html {
	background-color: var(--bg-color);
}

.navbar {
	background: var(--secondary-color);

	margin: auto;
}

.navRow {
	background-color: var(--primary-color);
}
.logo {
	background-color: var(--primary-color);
	max-width: 63rem;
	margin: auto;
	padding: 6px;
	padding-left: 0;

	display: flex;
	align-items: center;
}

.item > a {
	font-weight: bold;
}

.nav {
	display: flex;
	flex-direction: row;
	overflow: auto;

	color: black;

	flex-wrap: nowrap;
}
.footer {
	width: 100%;

	background-color: rgb(34, 34, 34);
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.footer a {
	color: rgb(194, 194, 194);
}

.footerColum {
	display: flex;
	flex-direction: column;
} .categoryCol li{padding: 9px;}
.footer ul li {
	color: rgb(195, 195, 195);
	list-style: none;
}

.categoryCol ul {
	display: flex;
	flex-wrap: wrap;
}


a {
	color: black;
	text-decoration: none;
}

.szh-menu {
	background: white;
}

.nav .item {
	padding: 10px;
}

.mobileOnly {
	display: none;
}

.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: #0087ca;
}

.hover-underline-animation::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 5px;
	bottom: 0;
	left: 0;
	background-color: var(--primary-color);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.active > * {
	color: var(--primary-color) !important;
	font-weight: bolder;
}

.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.newsPanel {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.loadingPulse {
	width: 100%;
	height: 100%;
	height: 80px;

	background-color: #e4e4e446;
	margin-top: 20px;
	margin-bottom: 20px;
	animation: pulse 1s infinite;
}
@keyframes pulse {
	0% {
		background-color: #e7e7e7;
	}
	50% {
		background-color: #afafaf;
	}
	100% {
		background-color: #e7e7e7;
	}
}

.col {
	width: 50%;
}

.FullCard {
	width: 100%;
}
.FullCard_thumb img {
	width: 100%;
	height: 100%;
}

.FullCard_title {
	font-size: 1.75rem;
	line-height: 2.625rem;
	font-weight: bolder;
}

.FullCard_main {
	line-height: 1.625rem;
	font-size: 1rem;
}
.container {
	max-width: 63rem;
	margin: 0 auto;
	width: 100%;
}

.squareContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.squareCard {
	width: 250px;
	padding: 10px;
	padding-top: 0;
}

.squareCard a:hover {
	text-decoration: underline;
}

.squareCard_thumb img {
	width: 100%;
	height: 100%;
}

.squareCard_title {
	font-size: 1.25rem;
	width: 100%;
	line-height: 1.875rem;
	font-weight: bolder;
}

.newsPanel {
	border-bottom: 2px solid rgba(231, 231, 231, 0.597);
}

.breadheading {
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 9px;

	color: var(--primary-color);
}

.breadheading_title {
	color: black;
	display: flex;
	align-items: center;
	font-size: 1.8rem;
	font-weight: bold;

	padding: 8px;
}
.breadheading_more {
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: rgb(161, 160, 160);

	font-weight: 500;

	padding: 8px;
}

.post_page {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.post_content {
	width: 70%;
}

.post_body {
	padding: 40px;
	padding-left: 0;
	padding-right: 0;
}

.post_heading {
	font-size: 2.5rem;
	font-weight: bold;
}

.post_meta {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid rgb(219, 219, 219);
}

.post_meta_item,
.post_meta_item span {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: rgb(184, 184, 184);
	font-size: large;
}

.post_meta_item a {
	color: rgb(184, 184, 184);
	padding: 2px;
	margin: 10px;
}

.post_meta_item a:hover {
	color: var(--primary-color-light);
	transform: scale(1.1);
}
.col_sidebar {
	width: 30%;
	padding: 20px;
}
.horizontalCard {
	display: flex;
	flex-direction: row;

	width: 100%;
	margin-bottom: 4px;
}

.horizontalCard .horizontalCard_thumb img {
	width: 100%;
}

.horizontalCard_thumb {
	width: 40%;
}

.horizontalCard_title {
	margin-left: 20px;
	font-size: 15px;

	font-weight: 500;
	width: 60%;
}
.horizontalCard_title:hover {
	color: var(--primary-color-light);
	cursor: pointer;
}
iframe {
	width: 100%;
	min-height: 440px;
}
.verticalCard {
	display: flex;

	flex-direction: column;
	width: 300px;
	margin: 10px;
}

.verticalCard_title {
	font-size: larger;
}

.verticalCard_title:hover {
	text-decoration: underline;
}

.horizontalSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.verticalCard_thumb img {
	width: 100%;

	object-fit: cover;
}

@media screen and (max-width: 768px) {
	.mobileOnly {
		display: block;
	}
	.col {
		width: 100%;
	}
	.col_sidebar {
		padding: 0;
	}
	.post_content {
		width: 100%;
	}
	.col_sidebar {
		width: 100%;
	}
	.col_sidebar {
		width: 100%;
	}
	.FullCard {
		padding: 8px;
		border-bottom: 2px solid rgba(231, 231, 231, 0.597);
	}
	.container {
		padding: 20px;
	}
	.FullCard_main {
		display: none;
	}
	.verticalCard {
		margin-bottom: 30px !important;
		border-bottom: 2px solid rgb(219, 219, 219);
		width: 100% !important;
	}
	.squareContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.squareCard {
		width: 100%;
		padding: 10px;
		display: flex;
		padding-top: 0;
	}
	.post_page {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.squareCard a {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.squareCard .squareCard_thumb {
		width: 40%;
		aspect-ratio: 16 / 9;
	}
	.squareCard_title {
		padding-left: 20px;
	}
}
